#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

1          RT_MANIFEST      MOVEABLE PURE   ".manifest"

IDD_MAIN DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
CAPTION "UIAccess demo"
BEGIN
    DEFPUSHBUTTON   "&Close",IDOK,200,126,40,14
    CONTROL         "&UIAccess",IDC_MAIN_UIACCESS,"Button",BS_3STATE|WS_DISABLED|WS_TABSTOP,10,10,120,16
    CHECKBOX        "&Always on top",IDC_MAIN_TOP,10,30,120,16
    PUSHBUTTON      "&Open Task Manager",IDC_MAIN_OPEN_TASKMGR,10,50,120,14
    LTEXT           "Co&mmand Line:",IDC_MAIN_LBL_CMD,10,70,120,14,0
    EDITTEXT        IDC_MAIN_CMD,10,84,230,14,ES_AUTOHSCROLL|ES_READONLY
END

